<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/dinhvle/" target="_blank">github.com/dinhvle</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/dinhvle" target="_blank">linkedin.com/in/dinhvle</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://dinhvle.com/" target="_blank">dinhvle.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:dinh.v.le@gmail.com" target="_blank">dinh.v.le@gmail.com</a></p>
<p><i class="fa fa-phone fa-lg fa-fw"></i> <a href="tel://1-608-345-1708">(608) 345-1708</a></p>
